<div>
  <app-header></app-header>
  <div class="bgImg">
    <img src="../../../assets/images/bgImg.jpg" />
  </div>
  <div class="middleSection">
    <div class="heading">
      <div id="adContainer3">
        <app-flip-card (showDetail)="openModal($event)"></app-flip-card>
      </div>
      <div class="sectionHeading">Contrary to popular belief</div>
      <div class="subHeading">
        Lorem Ipsum is not simply random text. It has roots in a piece of
        classical Latin literature from 45 BC, <br /> making it over 2000 years old.
        Richard McClintock,
      </div>
    </div>
    <div class="sectionCard">
      <div class="card">
        <div class="cardHeading">Lorem Ipsum</div>
        <div class="cardSubHeadibng">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
          an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
      </div>
      <div class="card">
        <div class="cardHeading">Lorem Ipsum</div>
        <div class="cardSubHeadibng">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
          an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
      </div>
</div>
<div class="ad-wrap">
  <div id="adContainer1"></div>
  <div id="adContainer2"></div>
</div>
      <div class="sectionCard">
        <div class="card">
          <div class="cardHeading">Lorem Ipsum</div>
          <div class="cardSubHeadibng">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
        </div>
        <div class="card">
          <div class="cardHeading">Lorem Ipsum</div>
          <div class="cardSubHeadibng">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book</div>
        </div>

      <div id="adContainer4"></div>
    </div>

  </div>
  <!-- <app-ad-one></app-ad-one>
<app-ad-two></app-ad-two> -->
  <!-- <div class="ad-wrap">
  <div id="adContainer1"></div>
  <div id="adContainer2"></div>
</div> -->

  <app-footer></app-footer>
</div>

<app-modal *ngIf="opened" (close)="onModalClose($event)" [modalData]="modalData"></app-modal>
