<div class="scene" (click)="openModal()">
    <div class="close">
        <img class="closeBtn" id="close3" src="../../assets/images/error.svg" alt="close">
    </div>
    <div class="cube">
      <div class="face front">
          <div class="frontContent">
              <div class="frontHeader">{{data.front.first}}</div>
              <div class="frontSubheading">{{data.front.second}}</div>
              <div class="frontSubheading">{{data.front.third}}</div>
          </div>
        </div>
      <div class="face right">
          <div>
              <img class="rightImg" [src]="data.right.url" alt="logo">
          </div>
      </div>
      <div class="face left">
          <div class="leftContent">
              <div class="leftconfig">{{data.left.first}}</div>
              <div class="leftconfig">{{data.left.second}}</div>
          </div>
      </div>
      <div class="face back">
          <div>
              <div class="backContent">{{data.back.first}}</div>
              <div class="backContent">{{data.back.second}}</div>
          </div>
      </div>
    </div>
  </div>