<div class="adContainer">
    <div class="tabActionIcons">
      <img src="../assets/images/information.png" class="information" />
      <img src="../assets/images/close.png" class="close" />
    </div>
    <div class="adContent">
       <div class="adImg">
         <img src="../assets/images/ad1.jpeg" />
       </div>
       <div class="adSection">
         <div class="adHeading">Hiring In Top ad agencies</div>
         <div class="adSubHeading">Find Latest Ad Agencies Job Vacancies in New York Area on Receptix</div>
       </div>
    </div>
 </div>